.card {
  background-color: #ffd7ba;
  height: 100%;
  width: 100%;
  max-height: 180px;
  min-height: 153px;
  max-width: 150px;
  min-width: 115px;
  margin-right: 20px;
  border: 10px solid #f8edeb;
  border-radius: 10px;
  font-family: 'Besley', serif;
  font-size: 14px;
  cursor: pointer;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
}
.card:hover img {
  transform: scale(1.1);
}
.card:hover p {
  transform: scale(0.9);
}
.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}
.card-front {
  display: flex;
  flex-direction: column;
}
.card-front img {
  padding-top: 10px;
  margin: 0 auto;
  width: 80%;
  transition: 0.2s all;
}
.card-front p {
  text-align: center;
  transition: 0.2s all;
}
.card-back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-color: #ffd7ba;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-back img {
  height: 60px;
  width: auto;
}
