.header {
  height: var(--header-size);
  background-color: #fec5bb;
  border-bottom: 10px solid #f8edeb;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreboard {
  display: flex;
  column-gap: 20px;
  width: max-content;
}
.score-field {
  display: flex;
  column-gap: 10px;
}
