:root {
  --header-size: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
main {
  background-color: #fae1dd;
  height: calc(100vh - var(--header-size));
  display: flex;
  justify-content: center;
}
#modal {
  position: relative;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.game-ctn {
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
.card-ctn {
  align-self: start;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-template-rows: repeat(auto-fit, 200px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.level-text {
  align-self: center;
  text-align: center;
}
